.edit-inputs-wrapper {
  width: 100%;
  background-color: rgb(244 249 255);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 0px rgba(99, 99, 99, 0.6);
  margin-bottom: 1rem;
}

.edit-inputs {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: baseline;
}

.edit-inputs > * {
  text-align: end;
  margin: auto;
}

.edit-inp-status,
div[class^="edit-input-"] {
  width: 40rem;
  display: flex;
  gap: 2rem;
  align-items: center;
}

div[class^="edit-input-"] input {
  width: 29rem;
  background-color: white;
  border: none;
  border: 1px solid #92aabf;
  border-radius: 5px;
  line-height: 2rem;
  padding: 0.1rem 0.5rem;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.radio-label,
div[class^="edit-input-"] label {
  margin-right: auto;
  font-weight: 700;
}

/* radio buttons */

.radio-group {
  width: 29rem;
  display: flex;
  justify-content: space-between;
}

.radio-group > * {
  min-width: 8rem;
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
}

.radio-group input:checked + label {
  font-weight: 700;
}

.edit-form-buttons-wrapper {
  width: 40rem;
  display: flex;
  justify-content: space-around;
}

.edit-cancel-button {
  box-shadow: 1px 1px 3px rgba(24, 24, 24, 0.7);
  border: 2px solid rgb(255, 170, 13);
  color: #3a5771;
  font-weight: 700;
}
.edit-save-button {
  box-shadow: 1px 1px 3px rgba(24, 24, 24, 0.7);
  border: 2px solid mediumaquamarine;
  color: #3a5771;
  font-weight: 700;
}

.edit-cancel-button:hover {
  color: rgb(255, 170, 13);
}
.edit-save-button:hover {
  color: mediumaquamarine;
}

.edit-cancel-button:active {
  background-color: rgb(255, 170, 13);
  color: white;
}
.edit-save-button:active {
  background-color: mediumaquamarine;
  color: white;
}

.edit-inputs-wrapper button {
  margin-top: 1rem;
}
