.cart-preview {
  position: absolute;
  right: 0px;
  top: 2.5rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 0px rgba(99, 99, 99, 0.2);
  width: 20rem;
  z-index: 100;
  color: #213547;
}

.preview-title {
  text-align: center;
  color: #e84c3d;
  font-weight: 700;
  font-size: 1.2rem;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom: 1px dashed #e84c3d;
  margin: 1rem 1rem 0;
  padding-bottom: 0.5rem;
}

.movies-in-cart {
  max-height: 19rem;
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.movies-in-cart::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.movies-in-cart {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.cart-entry {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0.5rem 1rem 0.5rem 1.5rem;
}

.cart-entry .seat {
  width: 2rem;
  color: #e84c3d;
  font-weight: 700;
}
.cart-entry .movie-title {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 700;
}

.cart-entry .delete-button {
  background-color: transparent;
  padding: 0.5rem 1rem;
}

.cart-entry .delete-button:hover {
  border: 1px solid transparent;
  background-color: #e84c3d;
  color: white;
}

.cart-button-wrapper {
  padding: 1rem 1rem 0.5rem;
}
.scroll-shadow {
  box-shadow: 0px -10px 15px #855a5633;
}
.cart-button {
  background-color: #e84c3d;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  border-radius: 7px;
  color: white;
}
.cart-preview .total {
  text-align: end;
  margin: 0 1rem;
  padding-top: 0.7rem;
}

.cart-preview .total-price {
  font-weight: 700;
  padding-bottom: 1rem;
}

.empty-cart {
  padding: 1rem;
}
