.showtimes-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 100%;
}

.showtime-label {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(189, 172, 222);
}

.showtime-label > * {
  text-align: center;
}

.showtimes-form .locked {
  background-color: rgb(226, 218, 226);
}
.showtimes-form .alreadyBooked {
  background-color: mediumslateblue;
}
.showtimes-form .available {
  background-color: rgb(140, 224, 140);
}
