.movie-card {
  /* width: 15rem; */
  /* height: 22rem; */
  width: 100%;
  aspect-ratio: 2 / 3;
  box-shadow: 1px 1px 5px rgb(138, 138, 138);
  /* box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.484); */
  border-radius: 5px;
  background-color: white;
  position: relative;
  overflow: hidden;
}
.movie-card .poster-wrapper {
  width: 100%;
  height: 100%;
}

.movie-card img {
  width: 100%;
  object-fit: cover;
}

.movie-card-details {
  display: none;
}

.movie-card:hover > .movie-card-details {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 1rem;
  color: rgb(228, 228, 228);
}

.movie-card-details .movie-title {
  font-weight: 700;
  font-size: 1.1rem;
}

.movie-card-details .details-link {
  margin: auto auto 0;
  border: 1px solid rgb(228, 228, 228);

  color: inherit;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.movie-card-details .details-link:hover {
  border: 1px solid #e84c3d;
  color: #e84c3d;
}
