.cart-page {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  height: calc(100% - 4.5rem);
}

.cart {
  width: 44rem;
  background-color: white;
  margin-top: -1rem;
  padding: 2rem 3rem 1rem 4rem;
  box-shadow: 1px 1px 6px rgba(150, 150, 150, 0.554);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.cart-title {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
}

/* ------ tickets------- */

.cart-tickets {
  display: flex;
  flex-direction: column;
}

.ticket-row {
  display: flex;
  align-items: center;
}
.ticket-wrapper {
  display: flex;
  padding: 1.3rem;
  font-size: 0.9rem;
}

.ticket-wrapper .left,
.ticket-wrapper .right {
  background: linear-gradient(to bottom, #e84c3d 2.8rem, #ecedef 2.8rem, #ecedef 100%);
  padding: 0 2rem;
}

.ticket-wrapper .left {
  width: 25rem;
  position: relative;
}

.ticket-wrapper .left::before {
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  right: -0.85rem;
  top: -1rem;
  border-radius: 50%;
  z-index: 10;
  background-color: white;
}

.ticket-wrapper .left::after {
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  right: -0.85rem;
  bottom: -1rem;
  border-radius: 50%;
  z-index: 10;
  background-color: white;
}

.ticket-wrapper .right {
  width: 7rem;
  border-left: 4px dashed white;
}

.ticket-wrapper .cinema {
  height: 2.8rem;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}

.ticket-wrapper .cinema span {
  font-weight: 900;
}

.ticket-wrapper .logo {
  height: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.9rem;
  color: #ecedef;
}

.ticket-wrapper .left .content {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  padding: 0.5rem 0;
}
.ticket-wrapper .tag {
  color: grey;
}
.ticket-wrapper .data {
  font-weight: 700;
}

.ticket-wrapper .title .data {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ticket-wrapper .ticket-details {
  display: flex;
  gap: 1.5rem;
}

.ticket-wrapper .right .seat {
  height: calc(100% - 3rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ticket-wrapper .right .seat > :first-child {
  font-size: 2.8rem;
  font-weight: 700;
  color: #e84c3d;
}

/* ---------- */
.delete-wrapper button {
  background-color: transparent;
  font-weight: 700;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  padding: 0;
  border: 2px solid transparent;
}

.delete-wrapper button:hover {
  background-color: transparent;
  border: 2px solid #e84c3d;
  color: #e84c3d;
}

/* ---------- */
.cart-buttons {
  width: 100%;
  display: flex;
  padding: 1rem 3.5rem 10rem 1.3rem;
  justify-content: space-between;
}

.checkout-button {
  background-color: #e84c3d;
  padding: 0.5rem 3rem;
  color: white;
  border: 2px solid #e84c3d;
}

.continue-shopping-button {
  background-color: #ebedee;
  color: #e84c3d;
  border: 2px solid #e84c3d;
}

/* ------------ */

.cart-cover img {
  height: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.95) 0px 25px 20px -20px;
}
.cart-cover {
  position: sticky;
  top: 6.5rem;
  height: calc(100vh - 8.5rem);
  margin: 0 4rem;
}

/* -----cart info------ */

.cart-info {
  border-top: 2px solid #213547;
  border-bottom: 2px solid #213547;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1rem 0rem;
  gap: 0.5rem;
  margin: 2rem 0;
}

.discount {
  display: flex;
  align-items: center;
  font-size: 1rem;
  gap: 1rem;
  padding: 1rem 0rem;
}

.discount input {
  line-height: 1.8rem;
  border: 2px solid #213547;
  border-radius: 5px;
  padding: 0 0.5rem;
  width: 8rem;
}

.discount button {
  background-color: #ebedee;
  color: #e84c3d;
  border: 2px solid #e84c3d;
  padding: 0.3rem 1rem;
  line-height: 1.2rem;
}

.total {
  font-weight: 700;
  font-size: 1.3rem;
  border-top: 1px solid #213547;
  width: fit-content;
}
