:root {
  --details-width: 86%;
}

.details {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* height: calc(100vh + 4.5rem); */
}

.details-content {
  width: var(--details-width);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(240, 240, 240);
  gap: 3rem;
  padding: 0 2rem;
}

.details-left {
  margin-top: 4.5rem;
  padding-bottom: 4rem;
}
.details-right {
  margin-top: 4.5rem;
  max-width: 65rem;
  font-family: Lato, sans-serif;
}

.details .details-left i {
  color: rgb(220, 220, 220);
  font-size: 1.2rem;
  margin: 1rem 0 1rem -0.9rem;
  padding: 0.5rem 1rem;
}

.details .details-left i:hover {
  color: white;
}

.details .poster-wrapper {
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  overflow: auto;
  box-shadow: rgba(29, 29, 29, 0.5) 0px 2rem 2rem -1.5rem;
}

/* .details .noposter {
  font-size: 10rem;
} */

.details .movie-poster {
  width: 100%;
}

.details-right .movie-title {
  font-size: 4rem;
  font-weight: 700;
  color: white;
}

.details-right .genre {
  font-size: 1.3rem;
}
.details-right .genre .label {
  font-weight: 700;
}

.details-right .description {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2.4rem;
  margin: 1rem 0;
  /* color: rgb(230, 230, 230); */
  color: #bfb3b3;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.details-right .price {
  font-size: 1.3rem;
  margin: 1rem 0;
}

.details-right .price .label {
  font-weight: 700;
}

.booking-section .buttons {
  display: flex;
  gap: 1rem;
  margin: 0rem 0 1rem;
}

.booking-section button {
  background-color: transparent;
  color: rgb(220, 220, 220);
  border: 1px solid rgb(180, 180, 180);
}

.booking-section .back-to-details-button {
  border: none;
}

.booking-section button:hover {
  color: white;
  border: 1px solid white;
}

.booking-section .back-to-details-button:hover {
  border: none;
  color: white;
}

/* -------- seats --------- */
.details .screen {
  border-color: rgb(93, 93, 93);
  color: rgb(113, 113, 113);
}
.details .row-tag {
  background-color: transparent;
  color: white;
}
.details .seat {
  /* color: #213547; */
  color: transparent;
}

.details .seat-label {
  background-color: rgb(207, 207, 207);
  position: relative;
  overflow: hidden;
}

.details .seat-label::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 80%;
  border-bottom: 1px solid rgb(67, 67, 67);
  border-radius: 50%;
  top: -10%;
  left: 15;
}

.details .seat-label.locked {
  /* background-color: rgb(203, 106, 171); */
  background-color: #2d2d2d;
}

.details .seat-input:checked:not(:disabled) + label {
  /* background-color: rgb(243, 183, 71); */
  background-color: #e56256;
}
