.home-wrapper {
  width: 100%;
  padding: 1rem 0;
  /* background: linear-gradient(to bottom, #323232 0%, #3f3f3f, #1c1c1c); */
}

.home-content-wrapper {
  margin: 1rem auto;
  max-width: 65%;
  min-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  overflow: hidden;
  gap: 2rem;
  padding: 2rem 0;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 4rem;
}

.movies > * {
  /* margin-right: auto; */
}

.home-banner {
  width: 100%;
}

.home-banner img {
  max-width: 100%;
  display: block;
}

.home-wrapper .header {
  font-family: Lato, sans-serif;
  font-size: 2.8rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.home-wrapper .line {
  border: 1px solid black;
  height: 0;
  flex: 1;
}
