.admin-inputs-wrapper {
  width: 100%;
  background-color: rgb(229 239 255);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  box-shadow: 2px 2px 3px rgba(99, 99, 99, 0.9);
}
.admin-inputs {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 1rem;
}

.admin-inputs > * {
  text-align: end;
  margin: auto;
}

div[class^="admin-input-"] {
  width: 40rem;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.admin-inputs input {
  width: 28rem;
  background-color: white;
  border: none;
  border: 1px solid #92aabf;
  border-radius: 5px;
  line-height: 2rem;
  padding: 0.1rem 0.5rem;
}

.admin-inputs label {
  font-weight: 700;
  margin-right: auto;
}

.autocomplete {
  display: flex;
  align-items: center;
  width: fit-content;
  width: 40rem;
  gap: 2rem;
  padding-bottom: 0.5rem;
}

.autocomplete input {
  width: 17rem;
}

.autocomplete-error {
  height: 1.5rem;
}

.autocomplete button {
  padding: 0.4rem 1rem;
}
.autocomplete button,
.admin-save-button {
  border: 2px solid mediumaquamarine;
  color: #3a5771;
  font-weight: 700;
  background-color: #ebedee;
}

.autocomplete button:hover,
.admin-save-button:hover {
  color: mediumaquamarine;
}

.autocomplete button:active,
.admin-save-button:active {
  background-color: mediumaquamarine;
  color: white;
}
