.navbar {
  position: sticky;
  background-color: white;
  top: 0px;
  padding: 0.7rem 0;
  box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);
  z-index: 101;
  height: 4.5rem;
  width: 100%;
  /* background: linear-gradient(90deg, white 2%, #feac5e 12%, #c779d0, #4bc0c8, #4bc0c8 19%, white); */
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 68%;
  min-width: 40rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.navbar a {
  text-decoration: none;
}

.navbar .menu {
  display: flex;
  gap: 2rem;
}

.navbar a,
.navbar a:hover,
.navbar a:focus,
.navbar a:active {
  text-decoration: none;
  color: inherit;
}

.navbar .logo {
  font-size: 2rem;
}

.navbar .logo span:first-child {
  font-weight: 900;
}

.nav-cart {
  position: relative;
  width: 3rem;
}

.cart-link {
  display: flex;
  align-items: last baseline;
}

.cart-icon {
  font-size: 1.7rem;
}

.cart-counter {
  background-color: #e84c3d;
  width: 1.2rem;
  height: 1.2rem;
  text-align: center;
  border-radius: 50%;
  color: white;
  font-size: 0.75rem;
  font-weight: 700;
  margin-left: -0.5rem;
  align-self: baseline;
  position: relative;
  z-index: 3;
}

.nav-admin {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
}

.nav-admin:hover i,
.nav-cart:hover .cart-icon {
  /* filter: drop-shadow(0px 0px 3px #538ec1); */
  filter: drop-shadow(0px 0px 2px #63aceb);
  /* filter: drop-shadow(0px 0px 3px mediumaquamarine); */
}

.nav-admin:active i,
.nav-cart:active .cart-icon {
  color: #667f93;
}

/* ----- transparent------- */
.navbar.transparent {
  position: fixed;
  width: 100%;
  left: 0px;
  color: white;
  box-shadow: none;
  background-color: rgba(11, 11, 11, 0.5);
  margin: auto;
}

.navbar.transparent .buttons-wrapper {
  min-width: 80rem;
}
