.navbar {
  position: sticky;
  background-color: white;
  top: 0px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: 0.7rem 0;
  box-shadow: 0px 2px 5px rgba(111, 111, 111, 0.478);
  z-index: 101;
}

.navbar a {
  text-decoration: none;
}

.navbar .menu {
  display: flex;
  gap: 10px;
}

.navbar a,
.navbar a:hover,
.navbar a:focus,
.navbar a:active {
  text-decoration: none;
  color: inherit;
}

.nav-cart {
  position: relative;
}

.navbar .logo {
  font-size: 2rem;
}

.navbar .logo span:first-child {
  font-weight: 900;
}

.navbar .logo span:nth-child(2) {
  /* color: #e84c3d; */
}
