/* -------- */

.movie-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px 3px rgba(99, 99, 99, 0.9);
}

th {
  padding: 1rem;
}

tbody tr {
  border-top: 1px solid rgb(102, 145, 205);
}

.th-poster {
  width: 7rem;
}

.th-delete {
  width: 6rem;
}

.movie-table td {
  padding: 0.7rem 0.5rem;
}

td:nth-child(3) {
  text-align: center;
}

/*  ---- poster ----- */
.movie-table .poster-wrapper {
  height: 9rem;
  width: 6rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 5px;
}

.movie-table .poster-wrapper img {
  height: 9rem;
}

/* ---- row middle section ----- */
.td-movie-wrapper {
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.td-movie .title {
  font-size: 1.1rem;
  font-weight: 700;
}

.td-movie .showtimes-wrapper {
  flex: 1;
}

.td-movie .showtimes {
  height: 100%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.td-movie .showtimes .tag-wrapper {
  background-color: mediumslateblue;
  color: white;
  font-size: 0.7rem;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.td-movie .showtimes .tag-date {
  font-weight: 700;
  font-size: 0.8rem;
}

button > i {
  pointer-events: none;
}
.td-movie .admin-edit-button {
  background-color: transparent;
  /* color: rgb(255, 157, 0); */
  color: rgb(255, 170, 13);
}

.td-movie .admin-edit-button:hover {
  color: rgb(255, 199, 95);
}

.td-movie .change-showtimes-btn {
  background-color: transparent;
  padding: 0.5rem 1rem;
  color: mediumslateblue;
}

.td-movie .change-showtimes-btn:hover {
  color: rgb(160, 146, 242);
}
/* ------ delete button -------- */
.admin-delete-button {
  background-color: transparent;
  font-weight: 700;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  padding: 0;
  border: 2px solid transparent;
  color: #3a5771;
}

.admin-delete-button:hover {
  background-color: transparent;
  border: 2px solid #e84c3d;
  color: #e84c3d;
}

/* --- delete alert ------ */
.field-error,
.block-alert,
.delete-alert {
  background-color: white;
  border: 2px solid #ff9baa;
  padding: 2rem 2rem 1.5rem;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 0px rgba(99, 99, 99, 0.6);
  text-align: center;
  margin-bottom: 1rem;
}

.field-error-message,
.block-alert-message,
.delete-alert-message {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.delete-alert-message span {
  font-weight: 700;
}

.delete-alert-yes-button {
  box-shadow: 1px 1px 3px rgba(24, 24, 24, 0.7);
  border: 2px solid #ff6658;
  color: #3a5771;
  font-weight: 700;
  margin: 1rem;
}

.field-error-ok-button,
.block-alert-ok-button {
  box-shadow: 1px 1px 3px rgba(24, 24, 24, 0.7);
  border: 2px solid mediumaquamarine;
  /* color: #213547; */
  color: #3a5771;
  font-weight: 700;
  margin: 1rem;
}

.delete-alert-no-button {
  box-shadow: 1px 1px 3px rgba(24, 24, 24, 0.7);
  border: 2px solid rgb(255, 170, 13);
  color: #3a5771;
  font-weight: 700;
  margin: 1rem;
}

.delete-alert-yes-button:hover {
  color: #e84c3d;
}

.field-error-ok-button:hover,
.block-alert-ok-button:hover {
  color: mediumaquamarine;
}

.delete-alert-no-button:hover {
  color: rgb(255, 170, 13);
}

.delete-alert-yes-button:active {
  background-color: #e84c3d;
  border: 2px solid #e84c3d;
  color: white;
}

.field-error-ok-button:active,
.block-alert-ok-button:active {
  background-color: mediumaquamarine;
  color: white;
}

.delete-alert-no-button:active {
  background-color: rgb(255, 170, 13);
  color: white;
}

.buttons {
  display: flex;
  align-items: center;
}
.buttons .status {
  margin-right: 1rem;
  font-weight: 500;
  font-size: 0.9rem;
  border-radius: 3px;
  padding: 0.1rem 0.5rem;
  background-color: white;
  /* border: 1px solid #c5c7c7; */
  /* background-image: linear-gradient(to right, #ece9e6 0%, #ffffff 51%, #ece9e6 100%); */
}

.buttons .status i {
  margin-right: 0.3rem;
  color: rgb(175, 191, 201);
}

.buttons .status.now i {
  color: rgb(110, 204, 9);
}

.buttons .status.soon i {
  color: rgb(32, 168, 226);
}
