.showtimes-td {
  padding: 1rem;
}

.showtimes {
  height: 100%;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
}

.change-showtimes-btn {
  text-wrap: nowrap;
}

.movie-table td {
  padding: 5px;
}

.movie-table .poster-wrapper {
  width: 90px;
  height: 90px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 5px;
}

.movie-table .poster-wrapper img {
  width: 90px;
}
