.showtimes-td {
  padding: 1rem;
}

.showtimes {
  height: 100%;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
}

.change-showtimes-btn {
  text-wrap: nowrap;
}

.movie-table {
  width: 100%;
  /* border-collapse: collapse; */
  border-collapse: separate;
  /* border: solid black 1px; */
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px 3px rgba(99, 99, 99, 0.9);
}

tr {
  border-radius: 5px;
}
.movie-table td {
  padding: 5px;
}

.movie-table .poster-wrapper {
  width: 90px;
  height: 90px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 5px;
}

.movie-table .poster-wrapper img {
  width: 90px;
}

/* delete alert */

.block-alert,
.delete-alert {
  background-color: rgb(224, 236, 232);
  padding: 2rem 2rem 1rem;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 0px rgba(99, 99, 99, 0.6);
  text-align: center;
  margin-bottom: 1rem;
}

.block-alert-message,
.delete-alert-message {
  font-size: 1.1rem;
}

.delete-alert-message span {
  font-weight: 700;
}

.delete-alert-no-button {
  border: 2px solid #e84c3d;
  color: #3a5771;
  font-weight: 700;
  margin: 1rem;
}

.block-alert-ok-button,
.delete-alert-yes-button {
  border: 2px solid mediumaquamarine;
  /* color: #213547; */
  color: #3a5771;
  font-weight: 700;
  margin: 1rem;
}

.delete-alert-no-button:hover {
  color: #e84c3d;
}

.block-alert-ok-button:hover,
.delete-alert-yes-button:hover {
  color: mediumaquamarine;
}

.delete-alert-no-button:active {
  background-color: #e84c3d;
  border: 2px solid #e84c3d;
  color: white;
}

.block-alert-ok-button:active,
.delete-alert-yes-button:active {
  background-color: mediumaquamarine;
  color: white;
}
